<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>Good Morning</title>
       <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        
        <h1>What's your name?</h1>
        <form id="nameForm" action="board.html" method="get">
            <label for="name" hidden>Name</label><br>
            <input type="text" id="name"><br>
            <input id="submit" type="submit" value="Go" >
        </form>
        <script>
            function myFunction(){
                window.location.href = "main.html";
            }
        </script>
    </body>
</html>