@font-face {
  font-family: maax;
  src: url(maax.ttf);
}

* { 
    padding: 0; 
    margin: 0; 
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    cursor: none;
}

canvas { 
    position: absolute;
    top: 0;
    background: #eee; 
    display: block; 
    margin: 0 auto;
    z-index: -99;
}

.holder {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.cursor {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px dashed grey;

}

#message {
    margin-top: 50px;
    text-align: center;
    font-family: maax;
}